@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;

}


ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: azure;
    font-weight: bolder;
}


@media (max-width:599px) {
    #wrap {
        width: 100%;
        height: auto;


    }

    /* ----------헤더------------------------------ */
    header {
        width: 100%;
        height: 700px;
        position: absolute;
    }

    #top {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;

    }

    #top>#top_logo {
        width: 10%;
        height: 20px;
        margin: 0 0 0 30px;
    }

    #top>#top_logo img {
        width: 110px;
        height: 20px;
    }

    .small_top_icon {
        font-size: 1.6rem;
        margin: 0 30px 0 0px;
        cursor: pointer;
        color: #39224c;
    }

    

    .nav_b>ul>li a {
        display: block;
        background-color: #fff;
        color: #5d516c;
        padding: 0 0 10px 30px;
        line-height: 50px;
        opacity: 0.8;
        font-size: 18px;
    }

    .nav_b>ul>li:hover a {
        color: rgba(93, 81, 108, 0.5);background-color: rgb(230, 225, 227);
    }

    .big_top_logo {
        display: none;
    }

    .small_top_logo {
        display: block;
    }

    .small_top_icon {
        display: block;
    }

    #top_icon {
        display: none;
    }

    .nav_a {
        display: none;
    }

    .nav_b {
        display: none;
    }



    /* ----------슬라이더-------------------- */

    #slider {
        background-image: url("../img/sub/slider4.jpg");
        background-size: cover;
        background-position: 20%;
        margin: 0 auto;
        width: 100%;
        height: 700px;
        display: flex;

        justify-content: center;
        align-items: center;

        position: relative;
        top: 0;
        left: 0;
        z-index: -1;
        top: 0;
        left: 0;

    }

    #slider>.slider_text {
        width: 500px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #slider>.slider_text>span {
        color: #fff;
        font-weight: 900;
        font-size: 9rem;
        text-shadow: 5px -5px 0 rgba(239, 178, 186, 0.8), 10px -10px 0 rgba(183, 49, 146, 0.8);
    }

    #slider>.slider_text>p {
        color: #fff;
        font-size: 2rem;
        display: block;
        text-align: left;
        margin: -10px 0 0 0px;
        font-weight: 600;
        opacity: 0.8;
    }

    /* 서브 css 시작 */
    #sub_contain {
        width: 100%;
        height: 5350px;
        background-image: url(../img/sub/back3a.png);
        background-size: 300%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    #sub_wrap {
        width: 100%;
        height: 5200px;


        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: -30px  auto 0;
    }

    section {
        width: 90%;
        height: 3000px;
        display: flex; flex-direction: column; justify-content: space-between; align-items:center;

    }

    section>.sub_blog_title {
        width: 100%;
        height: 50px;
        padding: 0 0 -95px 0px;

    }

    section>.sub_blog_title>h3 {
        color: #604776;
        font-weight: 600;
        font-size: 1rem;
    }

    article {
        width: 100%;
        height: 700px;
        border-radius: 5px;
        overflow: hidden;
        
        box-shadow: 5px 10px 20px rgba(239, 178, 186, 0.2);

    }


    article p {
        font-size: 0.9rem;
        text-align: initial;
        color: #5d516c;
        line-height: 25px;
    }

    article .img_box {
        width: 100%;
        height: 35%;
    }

    article>.img_box img {
        width: 100%;
        height: 100%;
    }

    article>.img_box>iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    article>.text_container {
        width: 95%;
        height: 65%;
        padding:20px 0 20px 20px;
    }

    article>.text_container .text_ul>ul {
        display: flex;
        color: #615a64;
        font-size: 0.85rem;
        
    }

    article>.text_container .text_ul>ul>li>a {
        color: #5d516c;
    
    }

    article>.text_container .text_ul>ul>li>a:hover {
        color: #5d516c;
        opacity: 0.7;
    }

    article>.text_container>h2>a {
        display: block;
        color: #39224c;
        font-size: 1.8rem;
        font-weight: 600;
        margin: 0 0 10px 0px;
    }

    article>.text_container .mini_author {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0 0 0px;

    }

    article .mini_author_box {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    article .mini_author_box img {
        width: 40px;
        height: 40px;
        margin: 0 5px 0 0px;
    }

    article .mini_author_box>span>a {
        color: #5d516c;
        font-size: 0.9rem;
        margin: 0 0 0 5px;
    }

    article .mini_author_box>span a:hover {
        color: #5d516c;
        opacity: 0.7;
    }

    article .icon_slide_box {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    article .icon_slide {
        cursor: pointer;
        width: 30px;
        height: 30px;
    }

    article .a , .b , .c , .d , .e , .f {display: none;}
    

    #music_banner {
        width: 100%;
        height: 160px;
        border-radius: 5px;
        overflow: hidden;
        margin: 0 0 75px 0px;
    }

    #music_banner>iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    #banner1 {
        width: 100%;
        height: 160px;
        background-image: url(../img/sub/banner1a.jpg);
        background-size: cover;
        background-position: center;
        margin:30px 0 30px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #banner1>.text_box {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #banner1>.text_box span {
        width: 300px;
        color: #39224c;
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0 0 0 20px;
        line-height: 30px;
    }

    #banner1>.text_box p {
        font-size: 0.9rem;
        color: #5d516c;
        font-weight: 500;
        margin: 20px;
        
    }

    #banner1 > img {
        width: 100%;
        height: 77px;
        margin: 20px 20px;
    }

    #banner2 {
        width: 100%;
        height: 160px;
        background-image: url(../img/sub/banner2.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        
    }

    #banner2>.text_box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    #banner2>.text_box span {
        width: 400px;
        height: 65px;
        color: #39224c;
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0 0 0 20px;
        line-height: 25px;
    }

    #banner2 img {
        width:60px;
        height: 60px;
        transform: rotate(90deg);
        margin: 0 20px 0 0px;
    }

    aside {
        width:100%;
        height: 2100px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    aside h4 {
        font-size: 1.15rem;
        color: #39224c;
        font-weight: 600;

    }

    aside h5 {
        font-size: 1rem;
        color: #39224c;
        font-weight: 600;

    }

    aside p {
        font-size: 0.9rem;
        color: #5d516c;
        text-align: left;
    }

    aside a {
        font-size: 0.8rem;
        color: #72687e;
    }

    #author {
        width: 80%;
        height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        

    }

    #author>.img_box {
        width: 100%;
        height: 300px;
        text-align: center;
        margin: 40px 0 20px 0px;
    }

    #author>.img_box img {
        width: 260px;
        height: 260px;
    }

    #author>.text_box {
        width: 100%;
        height: 80px;
    }

    #category {
        width: 80%;
        height: 220px;
        margin: 30px 0px;
    }

    #category>ul {
        font-size: 0.9rem;
        margin: 10px 0 0 0px;
    }

    #category>ul>li {
        padding: 4px 0px;
    }

    #category>ul>li>span {
        margin: 0 0 0 5px;
        font-size: 0.9rem;
        color: rgba(93, 81, 108, 0.7);line-height: 20px;
    }

    #category>ul>li>a:hover {
        color: rgba(93, 81, 108, 0.7);
    }

    #post {
        width: 80%;
        height: 340px;
    }

    #post>.mini_post {
        width: 100%;
        height: 95px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #post>.mini_post:nth-of-type(1) {
        margin: 20px 0 0 0px;
    }

    #post>.mini_post>.img_box {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
    }

    #post>.mini_post .img_box img {
        width: 100%;
        height: 100%;
    }
    #post > .mini_post .text_box {width:50%; height:80px; margin:0 0 0 20px; display: flex; flex-direction: column; justify-content:center; align-items:flex-start;}
	#post > .mini_post .text_box a {font-size: 0.85rem;}
	#post > .mini_post .text_box a:hover {color:rgba(93,81,108,0.7);}

    #search {
        width: 80%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0px;
        border-radius: 3px;
        box-shadow: 3px 4px 15px rgba(239, 178, 186, 0.2);
    }

    #search>.mini_search_box {
        width: 90%;
        height: 25px;
        border-bottom: 1px solid rgba(93, 81, 108, 0.3);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    #search>.mini_search_box input[type="search"] {
        border: none;
        outline: none;
        
    }

    #search>.mini_search_box input::placeholder {
        color: #5d516c;
        font-size: 0.9rem;
    }

    #search>.mini_search_box>i {
        color: rgba(93, 81, 108, 1);
        cursor: pointer;
        padding: 0 0 5px 0px;
    }

    #mini_banner {
        width: 80%;
        height: 130px;
        
    }

    #mini_banner img {
        width: 100%;
        height: 100%;
    }

    #newsletter {
        width: 80%;
        height: 80px;
        
    }

    #newsletter>.mini_news {
        width: 100%;
        height: 25px;
        border-bottom: 1px solid rgba(93, 81, 108, 0.3);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 20px 0 0 0px;
    }

    #newsletter .mini_news input[type="email"] {
        border: none;
        outline: none;
    
    }

    #newsletter .mini_news input::placeholder {
        color: #5d516c;
        font-size: 0.9rem;
    }

    #newsletter .mini_news>i {
        color: rgba(93, 81, 108, 1);
        cursor: pointer;
        margin: 0 3px 3px 0px;
        font-size: 1.1rem;
    }

    #instagram {
        width: 80%;
        height: 210px;
        display: flex;
        flex-direction: column;
    }

    .mini_insta {
        width: 100%;
        height: 169px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        margin: 20px 0 0 0px;
    }

    .mini_insta_box {
        width: 31%;
        height: 75px;
        border-radius: 5px;
        overflow: hidden;
        margin: 0 0 8px 0px;
    }

    .mini_insta_box>div {
        width: 100%;
        height: 100%;
    }

    .mini_insta_box>div>.mini_insta_in_icon {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .mini_insta_box>div>.mini_insta_in_icon>i {
        color: #fff;
        font-size: 0.9rem;
    }

    .mini_insta_box>div>.mini_insta_in_icon:hover {
        opacity: 1;
    }

    #mini_follow_icon {
        width: 80%;
        height: 90px;
        margin: 30px 0px;
        box-shadow: 3px 4px 15px rgba(239, 178, 186, 0.2);
        padding: 20px;
    }

    .mini_follow_icon_box {
        width: 100%;
        height: 40px;
        margin: 20px 0 0 0px;
    }

    .mini_follow_icon_box>ul {
        display: flex;
        justify-content: space-around;
        color: #39224c;
    }

    .mini_follow_icon_box>ul>li {
        padding: 0 15px 0 0px;
    }

    #tag {
        width: 80%;
        height: 130px;
        border-radius: 3px;
        box-shadow: 3px 4px 15px rgba(239, 178, 186, 0.2);
        padding: 20px;
    }

    .tag_box {
        margin: 20px 0 0 0px;
    }

    /* -----------푸터---------------------- */
    footer {
        width: 100%;
        height: 850px;
        background-color: #1e1c45;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
    }

    footer>img {
        width: 180px;
        height: 33px;
        
    }

    footer>span {
        color: #fff;
        padding: 20px 0px 40px;

    }

    #footer_banner {
        width: 90%;
        height: 600px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: space-around;
        margin: 0 auto;
    }

    .insta_box {
        width: 45%;
        height: 180px;
        border-radius: 3px;
        overflow: hidden;
    }

    .insta_box>div {
        width: 100%;
        height: 100%;
    }

    .insta_box>div>.footer_bg_in_icon {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .insta_box>div>.footer_bg_in_icon>i {
        color: #fff;
        font-size: 1.3rem;
    }

    .insta_box>div>.footer_bg_in_icon:hover {
        opacity: 1;
    }

    #footer_end {
        width: 85%;
        height: 75px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        color: #fff;
    }

    .footer_icon ul {
        display: flex;
    }

    .footer_icon ul li {
        padding: 0 30px 0 0px;
    }

    .footer_icon ul li>i {
        cursor: pointer;
    }

    .footer_bg1 {
        background-image: url(../img/footer1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .footer_bg2 {
        background-image: url(../img/footer2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .footer_bg3 {
        background-image: url(../img/footer3.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .footer_bg4 {
        background-image: url(../img/footer4.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .footer_bg5 {
        background-image: url(../img/footer5.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .footer_bg6 {
        background-image: url(../img/footer6.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
